@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #ECEBDE;
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: fit-content;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@layer base {
	input[type="number"]::-webkit-inner-spin-button,
	input[type="number"]::-webkit-outer-spin-button {
	  -webkit-appearance: none;
	  margin: 0;
	}
  }
::-webkit-scrollbar {
    display: none;
}
